doctype html
html
head 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
link(rel="stylesheet", href="./stylesheets/styleCreate.css")
title Dashboard
body 
    .container
        form.small-form(action="/createCourse", method="post")
            h1 Cursalia
            div.form
                div.title Bienvenido Admin 
                .subtitle Ingrese nuevo curso
                .divf
                    input#firstname.input(type='text' name='name' placeholder='Nombre del curso')
                    .cut.cut-short
                    label.placeholder(for='Nombre del curso') 
                .divf
                    input#psw.input(type='text'  name='author' placeholder='Autor del curso')
                    .cut.cut-short
                    label.placeholder(for='Autor del curso')
                .divf
                    input#firstname.input(type='text' name='duration' placeholder='Duracion')
                    .cut.cut-short
                    label.placeholder(for='Duracion del curso')
                .divf
                    input#rating.input(type='text' name='rating' placeholder='Rating')
                    .cut.cut-short
                    label.placeholder(for='rating del curso')  
                .divf
                    input#email.input(type='text' name='price' placeholder='Precio')
                    .cut.cut-short
                    label.placeholder(for='Url curso')
                .divf
                    input#img.input(type='text' name='img' placeholder='Url de imagen')
                    .cut.cut-short
                    label.placeholder(for='Url de imagen')                                     
                .divf
                    button.submit(type='text') Guardar