doctype html
html
head 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
link(rel="stylesheet", href="./stylesheets/stylefavorites.css")
body 
    .container
        form.small-form(action="/auth/login", method="post")
            div.form
                div.title ❤️ Favorites 
                .divf
                    p#box1.input(type='text')
                    button(type='button' )  ⭐ 
                .divf
                    p#box2.input(type='text')
                    .cut.cut-short
                    button(type='button' )  ⭐
                .divf
                    p#box3.input(type='text')
                    .cut.cut-short                    
                    button(type='button' )  ⭐
