doctype html
html
head 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
link(rel="stylesheet", href="./stylesheets/stylefavorites.css")
body 
    .container
        form.small-form(action="/auth/login", method="post")
            h1 Cursalia
            div.form
                div.title favorites 
                .subtitle
                .divf
                    p#box1.input(type='text')
                    .cut.cut-short
                    button(type='button' )  Fav 
                .divf
                    p#box2.input(type='text')
                    .cut.cut-short
                    button(type='button' )  Fav
                .divf
                    p#box3.input(type='text')
                    .cut.cut-short                    
                    button(type='button' )  Fav
