doctype html
head
  link(rel="stylesheet", href="./stylesheets/style.css")
  title aprendiendo
ul
  li menu hamburguesa
  li Logo
h3 Bienvenidos a tu web de cursos
.containerSearch
  input.text(placeholder='ingresar tu busqueda aqui' name='busqueda')
  input(type='button' value='Buscar')
.showResults
