doctype html
html
head 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
link(rel="stylesheet", href="./stylesheets/stylesingUp.css")
body 
    .container
        form.small-form(action="/signup", method="post")
            h1 DevYU
            div.form
                div.title Bienvenido 
                .subtitle Registrate
                .divf
                    input#firstname.input(type='text' name='firstname' placeholder='Nombre')
                    .cut.cut-short
                    label.placeholder(for='firstname') 
                .divf
                    input#email.input(type='text' name='email' placeholder='Email')
                    .cut.cut-short
                    label.placeholder(for='Email') 
                .divf
                    input#psw.input(type='password'  name='password' placeholder='Contraseña')
                    .cut.cut-short
                    label.placeholder(for='psw') 
                    button.submit(type='text') Registrarme
