doctype html
html
head 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
link(rel="stylesheet", href="./stylesheets/stylesingUp.css")
body 
    .container
        form.small-form(action="/users", method="post")
            div.form
                div.title Mi perfil 
                .subtitle mis datos Actuales
                .divf
                    input#firstname.input(type='text' name='actualfirstname' placeholder='Nombre')
                    label.placeholder(for='firstname') 
                .divf
                    input#email.input(type='text' name='email' placeholder='Email')
                    label.placeholder(for='Email') 
                .div
                    button.submit(type='text') Actualizar
                    button.submit(type='text') Descartar
